html {
    font-family: sans-serif;
  }
  
  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }
  
  .form input[type="number"] {
    width: 200px;
  }
  
  .lastResult {
    color: white;
    padding: 3px;
  }
  
  .resetButton {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }
  